*{
    font-family: 'Inter', sans-serif;
}
body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   
}
.navbar{
    position: fixed;
    background: black;
  width: 98%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 20px;
  backdrop-filter: blur(10rem);
  display: flex;
	z-index: 500;
	left: 0.7%;
	top: 0;
}


navbar{
    -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 10px;
    margin-left: 0.5%;
    width: 98%;
    background-color: transparent;
}
.navabar-group{
    padding: 10px;
}
.nav-item{
    color: red;
    padding: 15px;
    text-align: center;
}
.nav-link{
    color: red;
}
.logo{
    width:60px;
    padding: 4px;
    float:center;
}
.brand{
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #4facfe, #00f2fe);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}
.navinput{
    background-color: transparent;
    border-color: black;
    padding: 10px;
    border-radius: 20px;
    margin-top: -2%;
}
.button1{
    background-color: transparent;
    border-radius: 20px;
}
.navbar-toggler{
    color: black;
    background-color: grey;
}
.thead{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    margin-top: 10%;
}

.bc{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 border-radius: 30px;   
}
.bctable{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 3%;
}
.ind{
    width: 90px;
}
.footer{
    margin-top: 5%;
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}